// table{
//     border: 1px solid black;
//     border-collapse: collapse;
// }
// td,th{
//     border: 1px solid black;
// }
// .password{

// margin-left: 20px;
// }

// input[type=text], select {
//     width: 10%;
//     padding: 12px 20px;
//     margin: 8px 0;
//     display: inline-block;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
//   }


.container {
    position: absolute;
    width: 300px; /* Breite des Containers anpassen */
    
    /* Stil für das Eingabefeld */
  .input-field {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  /* Stil für das <label> Element */
  .password-label {
    font-weight: bold;
    margin-bottom: 5px;
    top: 5px; /* Anpassen, um die gewünschte vertikale Positionierung innerhalb des Containers zu erreichen */
    left: 5px; /* Anpassen, um die gewünschte horizontale Positionierung innerhalb des Containers zu erreichen */
  }
  }
  
  